//colors
$body-background-color: darkred;
$form-background-color: white;
$input-color: white;
$headlines-color : white;
$break-small: 20em;
$break-medium: 31em;
$break-large: 60em;
$break-xlarge: 960px;



@mixin breakpoint($break) {
    @if $break == large {
    @media (max-width: $break-large) { @content; }
    }
    @else if $break == medium {
    @media (max-width: $break-medium) { @content; }
    }
    @else if $break == small {
    @media (max-width: $break-small) { @content; }
    } @else {
    @media ($break) { @content; }
    }
    }    

body {
    background: white;
    @include breakpoint(large) { background: red; }
    @include breakpoint(medium) { background: cyan; }
    @include breakpoint(small) { background: green; }
    @include breakpoint(max-width 1000px) { background: yellow; }
    }        
#contactform {
    background-color: $form-background-color;
    input, textarea {
        background-color: $input-color;
        flex: 2;
    }
    @include breakpoint(xlarge) { background: yellow; }
    @media (min-width: $break-small) {
       & {
          width: 90%;
          max-width: 700px;
          margin-left: auto;
          margin-right: auto; 
        } 
    }
}

